@{
    Layout = null;
    ViewData["Title"] = "Cambiar contraseña";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cambiar contraseña</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <div class="login-page">
        <div class="login-card">

          
            <div class="login-left">
                <img src="~/images/logo-barberia.png" class="logo-barberia" />
                <h1>El Maestro Barberia</h1>
                <p>Cambia tu contraseña de forma segura.</p>
            </div>

           
            <div class="login-right">
                <h2>Nueva contraseña</h2>

                <form asp-action="ResetPassword" method="post">

                    <input type="hidden" name="token" value="@ViewBag.Token" />

                    <div class="input-group-custom">
                        <label>Nueva contraseña</label>
                        <input type="password" name="nuevaPassword" required />
                    </div>

                    <button type="submit" class="btn-login-main">
                        Guardar contraseña
                    </button>

                </form>

                <div class="login-links">
                    <a asp-controller="Cuenta" asp-action="Login">
                        Volver al login
                    </a>
                </div>

            </div>
        </div>
    </div>
</body>
</html>